.body {
  padding-top: 38px;
  padding-bottom: 23px;
  @include dekstop {
    padding-top: 108px;
    padding-bottom: 122px;
  }
  .container-body {
    width: 318px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    @include dekstop {
      width: 1189px;
      flex-direction: row;
    }
  }
}

.body-list {
  list-style: none;
  position: relative;
}

.body-img {
  max-width: 65%;
  @include dekstop {
    max-width: 100%;
  }
}

.body-img-woman {
  position: absolute;
  right: 0px;
  top: 82px;
  max-width: 55%;
  @include dekstop {
    right: -92px;
    top: 150px;
    max-width: 100%;
  }
}

.wrap-body-text {
  padding-top: 114px;
  @include dekstop {
    margin-left: 272px;
    padding-top: 103px;
    padding-bottom: 128px;
  }
  .body-title {
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    color: var(--second-title-color);
    margin-bottom: 11px;
    width: 261px;
    @include dekstop {
      font-size: 40px;
      font-weight: 700;
      line-height: 60px;
      margin-bottom: 6px;
    }
  }
  .body-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    width: 269px;
    color: var(--first-text-color);
    @include dekstop {
      font-size: 16px;
      font-weight: 400;
      line-height: 37px;
      width: 540px;
    }
  }
  .body-btn {
    border: 2px solid var(--second-title-color);
    border-radius: 38.5px;
    color: var(--second-title-color);
    width: 287px;
    height: 60px;
    background-color: transparent;
    font-size: 16px;
    font-weight: 600;
    line-height: 37px;
    margin-top: 54px;
    @include dekstop {
      width: 237px;
      height: 68px;
      margin-top: 30px;
    }
  }
}
