.comment {
  padding-bottom: 38px;
  padding-top: 48px;
  background-image: linear-gradient(
    to bottom,
    var(--first-title-color),
    #f4e3e9
  );
  @include dekstop {
    padding-bottom: 100px;
    padding-top: 126px;
  }
  .container-comment {
    width: 273px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    position: relative;
    @include dekstop {
      width: 960px;
    }
  }
}

.wrap-comment-text {
  display: flex;
  gap: 7px;
  width: 413px;
  flex-direction: column;
  margin-bottom: 25px;
  @include dekstop {
    width: 960px;
    margin-bottom: 27px;
    gap: 12px;
  }
  .comment-title {
    font-size: 26.14px;
    font-weight: 600;
    line-height: 119.2%;
    width: 225.45px;
    color: var(--first-text-color);
    @include dekstop {
      font-size: 48px;
      width: 413px;
    }
  }

  .comment-text {
    font-size: 9.8px;
    font-weight: 400;
    line-height: 15px;
    color: var(--first-text-color);
    @include dekstop {
      font-size: 18px;
      font-weight: 400;
      line-height: 27px;
    }
  }
}
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-pagination .swiper-pagination-bullet-active {
  background-color: var(--second-title-color);
}

.comment-list {
  list-style: none;
  display: flex;
  gap: 27px;
  @include dekstop {
    gap: 33px;
  }
  .comment-item {
    border-radius: 10px;
    box-shadow: 1px 4px 8px 0px rgba(0, 0, 0, 0.18);
    background-color: var(--first-title-color);
    padding-bottom: 26px;
    padding-top: 25px;
    padding-left: 19px;
    padding-right: 22px;
    width: 310px;
    @include dekstop {
      width: 349px;
      padding-bottom: 38px;
      padding-top: 35px;
      padding-left: 27px;
      padding-right: 32px;
    }
  }
}

.card-title {
  color: var(--second-title-color);
  margin-bottom: 20px;
  font-size: 26.47px;
  font-weight: 600;
  line-height: 119.2%;
  @include dekstop {
    margin-bottom: 29px;
    font-size: 38px;
    font-weight: 600;
    line-height: 119.2%;
  }
}

.wrap-text {
  display: flex;
  .card-text {
    width: 176.25px;
    font-size: 12.54px;
    font-weight: 400;
    line-height: 22.29px;
    @include dekstop {
      font-size: 18px;
      font-weight: 400;
      line-height: 32px;
      width: 100%;
    }
  }
  .koma {
    font-family: Times New Roman;
    color: rgb(248, 197, 215);
    margin-right: 6px;
    font-size: 40.4px;
    font-weight: 700;
    line-height: 46px;
    @include dekstop {
      margin-right: 11px;
      font-size: 58px;
      font-weight: 700;
      line-height: 67px;
    }
  }
}

.wrap-user {
  display: flex;
  gap: 13px;
  align-items: center;
  padding-left: 25px;
  margin-top: 19px;
  @include dekstop {
    gap: 17px;
    padding-left: 39px;
  }
  .user-img {
    border-radius: 317px;
    object-fit: cover;
    width: 41px;
    height: 39px;
    @include dekstop {
      width: 59px;
      height: 57px;
    }
  }
}

.wrap-info-user {
  .user-name {
    color: var(--first-text-color);
    font-size: 12.54px;
    font-weight: 600;
    line-height: 23.69px;
    @include dekstop {
      font-size: 18px;
      font-weight: 600;
      line-height: 34px;
    }
  }

  .user-descrip {
    color: rgb(150, 155, 171);
    font-size: 9.75px;
    font-weight: 400;
    line-height: 23.69px;
    @include dekstop {
      font-size: 14px;
      font-weight: 400;
      line-height: 34px;
    }
  }
}
