.header {
  padding-top: 20px;
  padding-bottom: 16px;
  background-color: var(--second-title-color);
  @include dekstop {
    padding-top: 30px;
    padding-bottom: 26px;
  }
  .container-header {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    @include dekstop {
      width: 1393px;
    }
  }
}

.navigation {
  display: none;
  @include dekstop {
    display: block;
  }
}

.header-list {
  display: flex;
  list-style: none;
  gap: 76px;
  &-item {
    display: flex;
    .header-link {
      color: var(--first-title-color);
      font-size: 16px;
      font-weight: 400;
      line-height: 109.5%;
      text-decoration: none;
      display: flex;
      align-items: center;
    }
  }
}

.header-logo {
  font-size: 21.82px;
  font-weight: 800;
  line-height: 109.5%;
  letter-spacing: 0px;
  color: var(--first-title-color);
  text-decoration: none;
  margin-right: auto;
  &-span {
    color: var(--span-title-color);
  }
  @include dekstop {
    font-size: 40px;
  }
}

.header-search-icon {
  margin-left: 6px;
  margin-top: auto;
  margin-bottom: auto;
}

.header-btn {
  width: 166px;
  height: 50px;
  border-radius: 200px;
  background: var(--first-title-color);
  border: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 109.5%;
  text-align: center;
  color: var(--second-title-color);
  margin-left: 37px;
  display: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  @include dekstop {
    display: block;
  }
}
.header-btn:hover,
.header-btn:focus {
  background-color: transparent;
  border: 2px solid #fff;
  color: #fff;
}

.mob-menu {
  position: fixed;
  z-index: 100;
  background-color: #fff;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding-top: 48px;
  padding-bottom: 48px;
}

.mob-container {
  width: 320px;
  height: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.menu-close-btn {
  display: flex;
  margin-left: auto;
  margin-bottom: 30px;
  background-color: transparent;
  align-items: center;
  justify-content: center;
  border: none;
}
.icon-btn-menu {
  fill: #fff;
}
.icon-btn-close {
  fill: #000;
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-btn-close:hover,
.icon-btn-close:focus {
  fill: var(--second-title-color);
}
.menu-open-btn {
  background-color: transparent;
  border: none;
  @include dekstop {
    display: none;
  }
}

.mob-list {
  list-style: none;
  gap: 24px;
  display: flex;
  flex-direction: column;
}

.mob-menu-link {
  color: var(--second-title-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 109.5%;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.mob-log-btn {
  width: 288px;
  height: 63px;
  border-radius: 200px;
  color: var(--first-title-color);
  border: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 109.5%;
  text-align: center;
  background-color: var(--second-title-color);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-log-btn:hover,
.mob-log-btn:focus {
  background-color: transparent;
  border: 2px solid var(--second-title-color);
  color: var(--second-title-color);
}
.list-mob-social {
  display: flex;
  gap: 16px;
  margin-top: 20px;
  justify-content: center;
  .list-mob-item {
    width: 50px;
    height: 50px;
    background-color: var(--second-title-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
  }
}

.link-icon-social {
  fill: var(--first-title-color);
}
