.health {
  padding-top: 75px;
  padding-bottom: 82px;
  background-color: var(--second-title-color);
  background-image: linear-gradient(
      rgba(57, 57, 57, 0.22),
      rgba(57, 57, 57, 0.22)
    ),
    url("../../img/body-mob-bg.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  @include retina {
    background-image: linear-gradient(
        rgba(57, 57, 57, 0.22),
        rgba(57, 57, 57, 0.22)
      ),
      url("/img/body-mob-2p-min.jpg");
  }
  @include dekstop {
    background-image: linear-gradient(
        rgba(57, 57, 57, 0.22),
        rgba(57, 57, 57, 0.22)
      ),
      url("/img/womandoingsitups-min.jpg");
    padding-top: 231px;
    padding-bottom: 247px;
    @include retina {
      background-image: linear-gradient(
          rgba(57, 57, 57, 0.22),
          rgba(57, 57, 57, 0.22)
        ),
        url("/img/body-2px-min.jpg");
    }
  }
  .container-health {
    width: 317px;
    padding-right: 15px;
    padding-left: 15px;
    margin: 0 auto;
    text-align: center;
    @include dekstop {
      width: 880px;
    }
  }
}

.health-title {
  font-size: 42.46px;
  font-weight: 700;
  line-height: 109.2%;
  color: var(--first-title-color);
  @include dekstop {
    font-size: 60px;
    font-weight: 700;
    line-height: 90px;
  }
}

.health-text {
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  color: var(--first-title-color);
  width: 257px;
  margin: 0 auto;
  margin-top: 15px;
  @include dekstop {
    width: 420px;
    font-size: 17px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0px;
  }
}

.health-btn {
  width: 237px;
  height: 68px;
  background-color: var(--second-title-color);
  color: var(--first-title-color);
  border-radius: 38.5px;
  font-size: 16px;
  font-weight: 600;
  line-height: 37px;
  border: none;
  margin-top: 35px;
}
