.mobile {
  padding-top: 44px;
  padding-bottom: 470px;
  background-color: var(--second-title-color);
  @include dekstop {
    padding-top: 112px;
      padding-bottom: 76px;
  }
  .container-mobile {
    width: 317px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    position: relative;
    @include dekstop {
      width: 1090px;
          flex-direction: row;
    }
  }
}

.wrap-info-mobile {
  width: 287px;
  @include dekstop {
    width: 489px;
  }
  .mobile-title {
    font-size: 40px;
    font-weight: 700;
    line-height: 120%;
    color: var(--first-title-color);
    margin-bottom: 8px;
    width: 269px;
    @include dekstop {
      font-size: 40px;
      font-weight: 700;
      line-height: 60px;
      margin-bottom: 4px;
      width: 412px;
    }
  }
  .mobile-text {
    color: var(--first-title-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 33px;
    width: 269px;
    @include dekstop {
      font-size: 16px;
      font-weight: 400;
      line-height: 37px;
          width: 489px;
    }
  }
  .mobile-download {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.6);
    margin-top: 25px;
    margin-bottom: 9px;
    @include dekstop {
          margin-top: 40px;
    }
  }
}

.list-app {
  list-style: none;
  display: flex;
  gap: 12px;
}

.mobile-list {
  display: flex;
  list-style: none;
}

.img-app {
  position: absolute;
  right: 85px;
  bottom: -450px;
  //    right: 313px;
  // bottom: 64px;
    @include dekstop {
        right: 313px;
  bottom: 64px;
    }
  &:nth-child(2) {
    position: absolute;
       right: -119px;
    top: 600px;
    @include dekstop {
     right: 100px;
    top: 49px;
    }
  }
}
